<div layout-gt-xs="row" layout-xs="column">
    <div flex="33" flex-sm="50">
        <md-card layout="row" class="card wow slideInLeft">
            <div flex-xs="33">
                <img src="http://lorempixel.com/200/200/" alt="">
            </div>
            <md-card-title flex-xs="67">
                <md-card-title-text>
                    <span class="md-headline md-primary">Title Noticias sdsfsdfsdfsdfsdfdf</span>
                    <span class="md-subhead">Lorem ipsum dolor sit amet, consectetur...</span>
                </md-card-title-text>

            </md-card-title>
        </md-card>
    </div>
    <div flex="33">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Small</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex="33">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with</span>
                    <span class="md-subhead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-sm card-media">

                    </div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Read</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
